<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="/static/css/style2.less" type="text/css" rel="stylesheet/less" >
</head>
<body class="response wait">

    <div>
        <img src="/static/images/icons/mailbox.png" alt="">
        <h2> 
            <div>MESSAGE SENT SUCCESSFULLY</div> 
            <div>THANKS!</div>
        </h2>
        <div>Ill be getting in touch with you shortly</div>
        <div class="return"><a href=" {% url 'home' %} " class="">RETURN BACK</a></div>
    </div>

</body>


<script src="/static/js/less.min.js"></script>
<script src="/static/js/script.js"></script>
</html>